.table{
    padding: 0rem, 1rem, 2rem 0,3rem;

}

.notpresentMonth{
    
    background: #ced4da;
}

.selectedTr{

    background: #e03131
}
.holiday{

    color : #a61e4d;
}

.sunday{

    color : #e03131;
}
.saturday{

    color : #4dabf7;
}
