.table {
  width: calc(100% / 7);
  padding-bottom: calc(100% / 7);
}

.notpresentMonth {
  background: #ced4da;
}

.selectedTr {
  background: #e03131;
}
.holiday {
  color: #a61e4d;
}

.sunday {
  color: #e03131;
}
.saturday {
  color: #4dabf7;
}
